---
import { CompositionRoot } from "@CompositionRoot";

const usecase = CompositionRoot.getInstance().provideGetFrameworksUseCase();

const frameworks = await usecase.execute();
---

<div class="island__container">
	<h3 class="header">AstroIsland</h3>

	{
		frameworks.map((framework) => (
			<section class="island__framework">
				<h4 class="title">{framework.name.value}</h4>
				<p class="description">{framework.description.value}</p>
				<img
					class="image"
					src={framework.image.value}
					alt={framework.name.value}
				/>
				<p class="popularity">Popularity: {framework.popularity.value}</p>
			</section>
		))
	}
</div>
